:root {
  --gray: hsla(0, 0%, 70%, 1);   
  --black: hsla(0, 0%, 6%, 1);
  --green: hsla(85, 71%, 71%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --background: #2C2C2C;
  --linkedin: #0A66C2;
  --youtube: #e52d27;
  --twitter: #1D9BF0;
}


.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

body {
  background: var(--black, #0F0F0F);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}